<div class="bg-hero-container w-100 overflow-hidden border-rounded-bl" style="height: 600px;">
  <div class="container position-relative front">
    <app-nav-bar></app-nav-bar>
    <div class="d-flex align-items-center flex-column mt-5 pt-5 text-white">
      <h1 class="display-3 fw-semibold mb-3">A modern publishing platform</h1>
      <h5 class="fw-lighter mb-5">Grow your audience and build your online brand</h5>
      <div class="">
        <button class="btn btn-primary rounded-pill me-3 py-2">Start for Free</button>
        <button class="btn btn-outline-primary rounded-pill py-2">Learn More</button>
      </div>
    </div>
  </div>
  <img class="bg-image translate-middle" src="/assets/bg-pattern-intro-desktop.svg" alt="background">
</div>
